<div class="home__container">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital PS5"
        gamePrice="169,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-4.jpg"
        gameLabel="Exclusivo"
        gameType="Disc | Digital PS4"
        gamePrice="269,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="Lançamento"
        gameType="Disc | PS5"
        gamePrice="299,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="Lançamento"
        gameType="Digital | PS5"
        gamePrice="599,90"
    ></app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Em promoção"
        gameType="Disc | PS5"
        gamePrice="69,90"
    ></app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Lançamento"
        gameType="Disc | PS5 | PS4"
        gamePrice="299,90"
    ></app-card>
</div>

